@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Josefin Sans", serif;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 102%;
}

:root {
  background-color: #f1f1f1;
  color: #111111;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

@layer base {
  .wrapper {
    @apply max-w-7xl mx-auto px-5 lg:px-8;
  }
  .heading {
    @apply text-[2rem] md:text-6xl font-bold leading-snug;
  }
  .heading-2 {
    @apply text-[1.75rem] md:text-5xl font-bold leading-snug;
  }
  .section-heading {
    @apply text-[1.5rem] md:text-4xl font-bold leading-snug;
  }
  .primary-btn {
    @apply bg-primary text-white py-3 px-6 rounded-sm hover:bg-secondary hover:shadow-2xl shadow-secondary flex justify-center items-center hover:-translate-y-1 transition-all duration-300;
  }
  .secondary-btn {
    @apply bg-secondary text-white py-3 px-6 rounded-sm hover:bg-secondary/60 hover:shadow-2xl shadow-secondary flex justify-center items-center hover:-translate-y-1 transition-all duration-300;
  }
  .transparent-btn {
    @apply bg-transparent border border-primary text-white py-3 px-6 rounded-sm hover:bg-primary hover:shadow-2xl shadow-secondary flex justify-center items-center hover:-translate-y-1 transition-all duration-300;
  }
  .link {
    @apply hover:text-primary transition-all duration-200;
  }
}
